{% extends 'base.html' %}

{% block content %}
<div class="row">
   <div class="col wf">
      <img src="{{url_for('static',filename='images/home-banner.jpg')}}" alt="" class="opacity-2"  width="540" height="550" >
  </div>
<div class="col wf mt-5 ml-5 mb-4">
      
               <form  action="{{ request.path }}" method="POST" enctype="multipart/form-data">
                     <div class="form-group">
                       <label>Location:</label>
                       <input type="text" class="form-control" name="Location" required="1">
                     </div>
      
      
                     <div class="form-group">
                       <label>Exported on:</label>
                       <input type="date" class="form-control" name="Exported on" required="1">
                   </div>
      
      
                     <div class="form-group">
                       <label>Imported on:</label>
                       <input type="date" class="form-control" name="Imported on" required="1">
                     </div>
                    
                   
                   <div class="form-group">
                       <label>Library version:</label>
                       <input type="text" class="form-control" name="Library version" required="1">
                   </div>
   
                    <div class="file btn btn-sm btn-primary">
                        Upload
                        <input type="file" name="csvfiles" id="file_upload" accept=".csv" multiple/>
                    </div>
                    
                <form action="">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
      
               </form>
               <!-- {% with messages = get_flashed_messages() %}
               {% if messages %}
                  <div class="notification is-danger text-maroon">
                      {{ messages[0] }}
                  </div>
                {% endif %}
              {% endwith %}    -->
   </div>
</div>
{% endblock content %}