{% extends "base.html" %}
{% block content %}

<!--banner image-->
<img src="{{url_for('static',filename='images/home-banner.jpg')}}" alt="" class="opacity-2"  width="420" height="430" >

<!--buttons for show content & content analysis-->

<div class="btn col-md-4 col-md-offset-4 ml-4">
  <h3>Welcome {{ current_user.fullname}}</h3>
  <form action="{{ url_for('content_set.show_all') }}">
  <button class="bg-sunglow btn-lg btn-block mt-4" >Show Contents</button> <br><br>
  </form>
  <form action="{{ url_for('content.plot') }}">
  <button class="bg-sunglow  btn-lg btn-block "  >Content Analysis</button><br><br>
  </form>
  {% if current_user.is_admin %}
    <form action="{{ url_for('user_login.manage_users') }}">
       <button class="bg-sunglow  btn-lg btn-block">Manage users</button><br><br>
    </form>
  {% endif %}

</div>
   
    
{% endblock %}
